  <!-- Sidebar navigation -->
<div class="sidebar_nav col-md-2">
  <div class="sidebar_txt">
    <div id="about" class="sidebar_item"><a href="#/about" class="sidebar_item">About</a></div>
    <div id="login" class="sidebar_item"><a href="#/login" class="sidebar_item">Login</a>/<a href="#/signup" class="sidebar_item">Signup</a></div>
    <div id="create" class="sidebar_item"><a href="#/createFlight">Create Flight</a></div>
    <div id="view" class="sidebar_item"><a href="#/viewFlights">View Flights</a></div>
    <div id="profile" class="sidebar_item"><a href="#/profile" class="sidebar_item">Profile</a></div>
  </div>
</div>
 <!--End Sidebar Nav -->


 
<div class="maincontent col-md-11 col-md-offset-1">
  <div class="row about-content">
    <div class="col-md-12">
        <header>
          <h1>About Total Zeit</h1>
        </header>
        <section>
          <p>Total Zeit is for connecting Pilots together to share costs of flights to increase flight time.  Over the past few years it has been increasingly costly to obtain flight hours.  With Total Zeit, you will be able to sign up and select your homebase airport and find nearby users to fly with and split the cost.</p>
        </section>
    </div>
        <div class="col-md-12">
          <p><a href="#" id="toinvite">Go back</a> to request invite.</p>
    </div>
  </div>
</div>
