  <!-- Sidebar navigation -->
<div class="sidebar_nav col-md-2">
  <div class="sidebar_txt">
    <div id="about" class="sidebar_item"><a href="#/about" class="sidebar_item">About</a></div>
    <div id="login" class="sidebar_item"><a href="#/login" class="sidebar_item">Login</a>/<a href="#/signup" class="sidebar_item">Signup</a></div>
    <div id="create" class="sidebar_item"><a href="#/createFlight">Create Flight</a></div>
    <div id="view" class="sidebar_item"><a href="#/viewFlights">View Flights</a></div>
    <div id="profile" class="sidebar_item"><a href="#/profile" class="sidebar_item">Profile</a></div>
  </div>
</div>
 <!--End Sidebar Nav -->

<!-- Begin Main Content Section -->
<div class="maincontent col-md-11 col-md-offset-1">
  <div class="row about-content">
    <div class="col-md-12">
          <h1>Total Zeit</h1>
          {{userId}}
  </div>
</div>
