  <!-- Sidebar navigation -->
<div class="sidebar_nav col-md-2">
  <div class="sidebar_txt">
    <div id="about" class="sidebar_item"><a href="#/about" class="sidebar_item">About</a></div>
    <div id="login" class="sidebar_item"><a href="#/login" class="sidebar_item">Login</a>/<a href="#/signup" class="sidebar_item">Signup</a></div>
    <div id="create" class="sidebar_item"><a href="#/createFlight">Create Flight</a></div>
    <div id="view" class="sidebar_item"><a href="#/viewFlights">View Flights</a></div>
    <div id="view" class="sidebar_item"><a href="#/myFlights">My Flights</a></div>
    <div id="profile" class="sidebar_item"><a href="#/profile" class="sidebar_item">Profile</a></div>
  </div>
</div>
 <!--End Sidebar Nav -->

<div ng-controller="FlightCtrl">
     <div class="maincontent col-md-11 col-md-offset-1">
        <div class="row">
          <div class="col-md-12 col-md-offset-4">
          <h1><div class="ng-scope">My Flights</div></h1>
        </div>
        </div>
    <hr>
          <div class="row margin">
          <div class="col-md-1">Date</div>
          <div class="col-md-2">Sponsor</div>
          <div class="col-md-1">Origin</div>
          <div class="col-md-1">Destination</div>
          <div class="col-md-1">Hours</div>
          <div class="col-md-2">Max Weight</div>
          <div class="col-md-2">Est Cost</div>
          <div class="col-md-2">Assigned</div>
        </div>
        <div class="row margin" ng-init="viewAssignedFlights()">
         
      </div>
    </div>
</div>